@import '../../../variables';

.CreateCourseLanding {
    &__Header {
        font-size: 2rem;
        margin-bottom: 1rem;
        
        h1 {
            text-align: center;
        }
    }

    &__Body {
        display: flex;
        flex-direction: column;
    }

    &__Faculty {
        & > div:not(:first-child) {
            margin-bottom: 0;
        }
    }
}