@import "../../../../variables";

$height: 11rem;

.SelectOptions {
    display: inline-block;
    list-style: none;
    font-family: inherit;
    font-size: $default-font-size;
    box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
    position: absolute;
    overflow-y: scroll;
    height: $height;
    right: 0;
    bottom: -$height;
    background-color: $white;
    z-index: 99;
}